





body {
  background: BLUE;
}
p {
  color: black;
}
h1 {
  font-weight: bold;

}
  .cdFont{
    font-family: 'Orbitron', sans-serif;;
    color: blanchedalmond;
    font-size: 72px;
    border-style: solid;




  }
.cdImage{
  width: 35%;
  margin-left: 10%
  hight: 10%
  

}
